pais {background-color:blue;}
departamento {background-color:red; display:block;} 
cabecera {color:white; display:inline;} 
habitantes {color:yellow; display:inline;}
altura {color:rgb(66, 202, 134);font-size:1cm; display:inline;}
