pais {background-color:rgb(14, 91, 143);}
moneda {background-color:yellow;}
codtelefono {background-color:rgb(66, 202, 134);}
idioma {background-color:rgb(66, 202, 134);}
idiomaoficial {background-color:rgb(66, 202, 134);}
idiomaautonomo {background-color:rgb(66, 202, 134);}
idiomasegundo {background-color:rgb(66, 202, 134);}
departamento {background-color:rgb(138, 110, 110); display:block;} 
cabecera {color:white; display:inline;} 
habitantes {color:yellow; display:inline;}
altura {color:rgb(66, 202, 134);font-size:1cm; display:inline;}
